<!DOCTYPE html>
<html>
    <head>
        <style>
        table, th, td{
            width:fit-content;
            background-color: #22DDDD;
            border: 1px solid #228888;
        }
        </style>
    </head>
    <body>
        <table>
            <tr>
                <th>Record from {{ rows[0][0] }}</th>
            </tr>
            <tr>
            {% for row in rows %}
            <th>{{ row[1] }}</th>
            {% endfor %}
            </tr>
            <tr>
                {% for row in rows %}
                <td>{{ row[2] }}</td>
                {% endfor %}
            </tr>
        </table>
    </body>
</html>